<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.feiyangdigital.mapper.BotRecordMapper">
  <resultMap id="BaseResultMap" type="top.feiyangdigital.entity.BotRecord">
    <id column="rid" jdbcType="INTEGER" property="rid" />
    <result column="groupId" jdbcType="VARCHAR" property="groupid" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
    <result column="joinTimestamp" jdbcType="VARCHAR" property="jointimestamp" />
    <result column="violationCount" jdbcType="INTEGER" property="violationcount" />
    <result column="normalCount" jdbcType="INTEGER" property="normalcount" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="top.feiyangdigital.entity.BotRecord">
    <result column="lastMessage" jdbcType="LONGVARCHAR" property="lastmessage" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    rid, groupId, userId, joinTimestamp, violationCount, normalCount
  </sql>
  <sql id="Blob_Column_List">
    lastMessage
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="top.feiyangdigital.entity.BotRecordExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from botrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByExample" parameterType="top.feiyangdigital.entity.BotRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from botrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from botrecord
    where rid = #{rid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from botrecord
    where rid = #{rid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="top.feiyangdigital.entity.BotRecordExample">
    delete from botrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="rid" keyProperty="rid" parameterType="top.feiyangdigital.entity.BotRecord" useGeneratedKeys="true">
    insert into botrecord (groupId, userId, joinTimestamp, 
      violationCount, normalCount, lastMessage
      )
    values (#{groupid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{jointimestamp,jdbcType=VARCHAR}, 
      #{violationcount,jdbcType=INTEGER}, #{normalcount,jdbcType=INTEGER}, #{lastmessage,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="rid" keyProperty="rid" parameterType="top.feiyangdigital.entity.BotRecord" useGeneratedKeys="true">
    insert into botrecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="groupid != null">
        groupId,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="jointimestamp != null">
        joinTimestamp,
      </if>
      <if test="violationcount != null">
        violationCount,
      </if>
      <if test="normalcount != null">
        normalCount,
      </if>
      <if test="lastmessage != null">
        lastMessage,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="groupid != null">
        #{groupid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="jointimestamp != null">
        #{jointimestamp,jdbcType=VARCHAR},
      </if>
      <if test="violationcount != null">
        #{violationcount,jdbcType=INTEGER},
      </if>
      <if test="normalcount != null">
        #{normalcount,jdbcType=INTEGER},
      </if>
      <if test="lastmessage != null">
        #{lastmessage,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="top.feiyangdigital.entity.BotRecordExample" resultType="java.lang.Long">
    select count(*) from botrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update botrecord
    <set>
      <if test="record.rid != null">
        rid = #{record.rid,jdbcType=INTEGER},
      </if>
      <if test="record.groupid != null">
        groupId = #{record.groupid,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null">
        userId = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.jointimestamp != null">
        joinTimestamp = #{record.jointimestamp,jdbcType=VARCHAR},
      </if>
      <if test="record.violationcount != null">
        violationCount = #{record.violationcount,jdbcType=INTEGER},
      </if>
      <if test="record.normalcount != null">
        normalCount = #{record.normalcount,jdbcType=INTEGER},
      </if>
      <if test="record.lastmessage != null">
        lastMessage = #{record.lastmessage,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update botrecord
    set rid = #{record.rid,jdbcType=INTEGER},
      groupId = #{record.groupid,jdbcType=VARCHAR},
      userId = #{record.userid,jdbcType=VARCHAR},
      joinTimestamp = #{record.jointimestamp,jdbcType=VARCHAR},
      violationCount = #{record.violationcount,jdbcType=INTEGER},
      normalCount = #{record.normalcount,jdbcType=INTEGER},
      lastMessage = #{record.lastmessage,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update botrecord
    set rid = #{record.rid,jdbcType=INTEGER},
      groupId = #{record.groupid,jdbcType=VARCHAR},
      userId = #{record.userid,jdbcType=VARCHAR},
      joinTimestamp = #{record.jointimestamp,jdbcType=VARCHAR},
      violationCount = #{record.violationcount,jdbcType=INTEGER},
      normalCount = #{record.normalcount,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="top.feiyangdigital.entity.BotRecord">
    update botrecord
    <set>
      <if test="groupid != null">
        groupId = #{groupid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="jointimestamp != null">
        joinTimestamp = #{jointimestamp,jdbcType=VARCHAR},
      </if>
      <if test="violationcount != null">
        violationCount = #{violationcount,jdbcType=INTEGER},
      </if>
      <if test="normalcount != null">
        normalCount = #{normalcount,jdbcType=INTEGER},
      </if>
      <if test="lastmessage != null">
        lastMessage = #{lastmessage,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where rid = #{rid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="top.feiyangdigital.entity.BotRecord">
    update botrecord
    set groupId = #{groupid,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=VARCHAR},
      joinTimestamp = #{jointimestamp,jdbcType=VARCHAR},
      violationCount = #{violationcount,jdbcType=INTEGER},
      normalCount = #{normalcount,jdbcType=INTEGER},
      lastMessage = #{lastmessage,jdbcType=LONGVARCHAR}
    where rid = #{rid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.feiyangdigital.entity.BotRecord">
    update botrecord
    set groupId = #{groupid,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=VARCHAR},
      joinTimestamp = #{jointimestamp,jdbcType=VARCHAR},
      violationCount = #{violationcount,jdbcType=INTEGER},
      normalCount = #{normalcount,jdbcType=INTEGER}
    where rid = #{rid,jdbcType=INTEGER}
  </update>
</mapper>